---
layout: master
---

%article
  = content

  %nav
    %ul
      - if @contents.account? "twitter"
        %li
          %a.icon-twitter-sign.color{:href => "#{@contents.account "twitter"}"}
            My twitter account
      - if @contents.account? "gplus"
        %li
          %a.icon-google-plus-sign.color{:href => "#{@contents.account "gplus"}?rel=author"}
            My Google + account
      - if @contents.account? "github"
        %li
          %a.icon-github-sign.color{:href => "#{@contents.account "github"}"}
            My Github account
      - if @contents.account? "linkedin"
        %li
          %a.icon-linkedin-sign.color{:href => "#{@contents.account "linkedin"}"}
            My linkedin account
